#For logging to a DB, provide credentials:
DB_HOST=127.0.0.1
DB_PORT=3306
DB_LOGIN=dev
DB_PASSWORD=password
DB_DATABASE=probatio

#if the above aren't provided, you must provide a path to a logging directory with a filename prefix:
LOG_FILE=/../../../../../logs/log
#optional for db logging
#provide these DB_LOG variables to use DB logging
DB_LOG_HOST=127.0.0.1
DB_LOG_PORT=3306
DB_LOG_LOGIN=username
DB_LOG_PASSWORD=password
DB_LOG_DATABASE=log
DB_LOG_TABLE=log
#do you want to skip initializing the log table? Default is false
DB_LOG_SKIP_INIT=[true/false]


#other paths
CACHE_DIR=/../../../../../tmp/cache/
VIEW_DIR=/../../../../../src/views/
TMP_DIR=/../../../../../tmp/

#domain names that user's are allowed to log in from or comment out to allow for any domain
AUTH_ALLOWED_DOMAINS=developer.com,asd.com
#comma seperated list of email addresses that can auth or comment out to allow anyone from the domains to auth
AUTH_ALLOWED_USERS=guy@developer.com,gal@asd.com
#secret key to use for security purposes while authing
AUTH_SECRET=[random string +16 char]
#allow, in dev mode, to bypass login rather than prompting for login
#LOGIN_BYPASS=[true,false]

#OAUTH Client ids and secrets for each supported service
#OAUTH_GOOGLE_CLIENT_ID=[from google]
#OAUTH_GOOGLE_CLIENT_SECRET=[from google]
#OAUTH_MS_CLIENT_ID=[from microsoft]
#OAUTH_MS_CLIENT_SECRET=[from microsoft]
#OAUTH_SLACK_CLIENT_ID=[from slack]
#OAUTH_SLACK_CLIENT_SECRET=[from slack]
#OAUTH_SLACK_CLIENT_SCOPES=chat:write,users:read,channels:read,groups:read,im:read,mpim:read... etc.

#For sending email
SMTP_LOGIN=[google apps login to send email]
SMTP_PASSWORD=[google apps password to send email]
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=tls

#for sending slack messages via webhook
SLACK_WEBHOOK_URL=token

#namespace where you stash your controllers or you can use the fully qualified name when routing. This just makes your life easier.
CONTROLER_NAMESPACE=rizwanjiwan\project\controllers\

#what env is this? (dev or prod)
ENV=dev
#force
FORCE_HTTPS=false

#debug level [DEBUG, ERROR, INFO] are common settings
LOG_LEV=DEBUG
#if you want to use sentry for critical/shutdown errors, set to true
SENTRY_ON=[true,false]
SENTRY_DNS_PHP=https://[some string]@sentry.io/[some int]
